# Implementing Neural Network in Python

In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tensorflow import keras

In [3]:
data = pd.read_csv('./datasets/insurance.csv')
data.head()

   age  affordibility  bought_insurance
0   22              1                 0
1   25              0                 0
2   47              1                 1
3   52              0                 0
4   46              1                 1

In [4]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(data[['age','affordibility']], data.bought_insurance, test_size=0.2, random_state=25)

In [6]:
x_train.describe()

             age  affordibility
count  22.000000      22.000000
mean   40.363636       0.636364
std    15.564139       0.492366
min    18.000000       0.000000
25%    25.000000       0.000000
50%    45.500000       1.000000
75%    54.750000       1.000000
max    62.000000       1.000000

## Scale down the age values

In [14]:
x_train_scaled = x_train.copy()
x_train_scaled['age'] = x_train_scaled['age'] / 100

x_test_scaled = x_test.copy()
x_test_scaled['age'] = x_test_scaled['age'] / 100

In [17]:
x_train_scaled.head()

     age  affordibility
0   0.22              1
13  0.29              0
6   0.55              0
17  0.58              1
24  0.50              1

In [ ]:
model = keras.Sequential([
    keras.layers.Dense(1, input_shape=(2,), activation='sigmoid', kernel_initializer='ones', bias_initializer='zeros')
])

model.compile(
    optimizer='adam',
    loss='binary_crossentropy',
    metrics=['accuracy']
)

model.fit(x_train_scaled, y_train, epochs=100)